.bookListTitle {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  font-family: $font-1;
  color: $primary;
  text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
}

.loadingBooks {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  font-family: $font-1;
  color: $primary;
  text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
}

.booksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
}
